<a href="https://colab.research.google.com/github/ranirachel/MBKM_Ranny/blob/main/1_Mandiri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [ ]:
ival = 123123123123123123123123123123123123123123123123 + 1

In [ ]:
varabcde = 10

In [ ]:

print(varabcde)

10

In [ ]:
print (ival)

123123123123123123123123123123123123123123123124

In [ ]:
type (ival)

int

In [ ]:
print(4.2)

print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [ ]:

print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [ ]:

print('') ## string bisa kosong

In [ ]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

print('This string contains a double quote (\') character.')

print("This string contains a single quote (\") character.")

This string contains a single quote (') character.
This string contains a double quote (") character.
This string contains a double quote (') character.
This string contains a single quote (") character.

In [ ]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
n = 100
print (n)

100

In [ ]:
n

100

In [ ]:
n = 200

In [ ]:
print (n)

200

In [ ]:
 x = y = z = 1000
 print (x,y,z)

1000 1000 1000

Variable Types in Python

In [ ]:
varx = 25.5 
print(varx)
print(type(varx))

25.5
<class 'float'>

In [ ]:
varx = "Halo Apa Kabar"
print(varx) 
print(type(varx))

Halo Apa Kabar
<class 'str'>

**Variable Names**
Secara resmi, nama variabel di Python bisa berapa pun panjangnya dan bisa terdiri dari huruf besar dan huruf 
  kecil (A-Z, a-z), digit (0-9), dan karakter garis bawah (_). 
  Batasan tambahan adalah bahwa, meskipun nama  variabel dapat berisi angka, 
  karakter pertama dari nama variabel tidak boleh berupa digit.

In [ ]:
_ = "kosong" 
print(_)

kosong

In [ ]:
_1 = "satu" 
print(_1)

satu

In [ ]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [ ]:
9_kepala_naga = "kepala"

SyntaxError: ignored

In [ ]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [ ]:
amountSaldo = 500000 
print(amountSaldo)

AmountSaldo = 10000 
print(AmountSaldo)

amount_saldo = 1000
print(amount_saldo)

500000
10000
1000

In [ ]:
a = 10
b = 20
a + b
print(a+b)

30