<a href="https://colab.research.google.com/github/ranirachel/MBKM_Ranny/blob/Session-Learning-Hactive8/Rani_Rahel_Markus_Sesi_2_Conditions_Control_Flow_and_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional
- If statement

In [ ]:
x = 0
y = 5

if x< y:
  print('yes')

if y < x:
  print('yes')

if y:
  print('yes')

if 'aul' in 'grault':
  print('yes')

if 'quux' in ['foo', 'bar', 'baz']:
  print('yes')

yes
yes
yes

In [ ]:
if 'foo' in ['bar', 'baz', 'quz']:
  print('Expression was true')
  print('Executing statement in suite')
  print('....')
  print('Done')

print('After conditional')

After conditional

In [ ]:
if 'foo' in ['bar', 'baz', 'quz']:
  print('Outer condition was true')

  if 10 > 20:
    print('inner condition 1')
  
  print('Between inner conditions 2')

  if 10 < 20:
    print('inner condition 2')
  
  print('end of outer conditions')
print('after outer condition')

In [ ]:
x = 20

if x < 50:
  print('(first suiter)')
  print('x is small')
else:
  print('(second suiter)')
  print('x is large')

(first suiter)
x is small

In [ ]:
x = 120

if x < 50:
  print('(first suiter)')
  print('x is small')
else:
  print('(second suiter)')
  print('x is large')

(second suiter)
x is large

In [ ]:
hargabuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargabuku:
  print('beli buku')
else:
  print('uang tidak cukup')

uang tidak cukup

In [ ]:
hargabuku = 20000
hargaMajalah = 5000
uang = 21000

if uang > hargabuku:
  print('beli buku')
elif uang > hargaMajalah:
  print('beli majalah')
else:
  print('uang tidak cukup')

beli buku

In [ ]:
if 'a' in 'bar':
  print('foo')
elif 1/0:
  print("This won't happen")
elif var:
  print('This wont either')

foo

In [ ]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [ ]:
x = 2
if x == 1: print('foo'); print('bar'); print('baz')
elif x ==2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [ ]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x ==2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [ ]:
raining = False #kondisi jika tidak sedang hujan
print('lets go the', 'beach' if not raining else 'library')

lets go the beach

In [ ]:
raining = True #jika benar hujan
print('lets go the', 'beach' if not raining else 'library')

lets go the library

In [ ]:
#prediksi umur
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [ ]:
#prediksi umur
age = 21
s = 'teen' if age < 21 else 'adult'
s

'adult'

Looping
- While Loop

In [ ]:
n = 5
while n > 0:
  n -= 1
  print(n)

4
3
2
1
0

In [ ]:
n = 5
while n > 0:
  n -= 1
  if n == 2:
    break #menghentikan statement secara paksa
  print(n)
print('Loop ended.')

4
3
Loop ended.

In [ ]:
n = 5
while n > 0:
  n -= 1
  if n == 2:
    continue #melanjutkan statemen, ketika n adalah 2 menyebabkan penghentian iterasi hanya di 2 dan dilanjutkan kemudian
  print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

- The else Clause

In [ ]:
n = 5
while n > 0:
  n -= 1
  print(n)
else:
  print('Loop done.')

4
3
2
1
0
Loop done.

In [ ]:
n = 5
while n > 0:
  n -= 1
  print(n)
  if n == 2 :
    break
else:
  print('Loop done.')

4
3
2

In [ ]:
age = 24
gender = 'F'

if age < 18:
  if gender == 'M':
   print('son')
  else :
    print('daughter')
elif age >= 18 and age < 65:
  if gender == 'M':
   print('father')
  else :
    print('mother')  
else:
  if gender == 'M':
   print('granpa')
  else :
    print('granma')

mother

- Infinite Loops

In [ ]:
While True:
 print('foo')

**-Nested While Loops**

In [ ]:
age = 24
gender = 'F'

if age < 18:
  if gender == 'M':
   print('son')
  else :
    print('daughter')
elif age >= 18 and age < 65:
  if gender == 'M':
   print('father')
  else :
    print('mother')  
else:
  if gender == 'M':
   print('granpa')
  else :
    print('granma')

**One-Line While Loops**

In [ ]:
n = 5
while n > 0: n -=1; print(n)

4
3
2
1
0

CONTOH LOOP AND BRANCH DIGUNAKAN PADA KASUS TEMPERATUR

In [ ]:
temp = input('Tempertur yang ingin dikonversikan dari F ke C atau sebaliknya misal 45F, 120C:')
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == 'C':
  result = int(round((9*degree)/5 + 32))
elif i_convertion == 'F':
  result = int(round((degree - 32)* 5 / 9))

else:
  print('Masukkan input yang benar')

print('Temperatur adalah', result, 'derajat')

Tempertur yang ingin dikonversikan dari F ke C atau sebaliknya misal 45F, 120C:45F
Temperatur adalah 7 derajat