<a href="https://colab.research.google.com/github/ranirachel/MBKM_Ranny/blob/main/Sesi2_Mandiri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 20
print(a == b) # 

print(a != b) # 
 
print(a <= b) # 

print(a >= b) #


a = 30
b = 30
print(a == b) #

print(a <= b) # 

print(a >= b) #

False
True
True
False
True
True
True

**Introduction to the if Statement**
Kita akan mulai dengan melihat tipe pernyataan yang paling dasar. Dalam bentuk yang paling sederhana, terlihat seperti ini:

In [ ]:
if <expr>:
   <statement>

In [ ]:
x = 15 
y = 15

In [ ]:
if x < y: 
   print("Yes, x < y ")

In [ ]:
if y > x:  # 
    print("Yes y > x ")

In [ ]:
if x != y:  # 
    print("Yes x != y")

In [ ]:
if x <= y: # 
    print("Yes x <= y")

In [ ]:
if y >= x: # ini untuk kondisi x >= y 
    print("Yes y > x ")

In [ ]:
if 'ult' in 'grault':                # 
    print('yes')

In [ ]:
if 'fo' in ['foo', 'bar', 'baz']:  # 
    print('yes')

    print("DONE")  
print("selesai")

**Grouping Statements: Indentation and Blocks**
Python mengikuti konvensi yang dikenal sebagai off-side rule, istilah yang diciptakan oleh ilmuwan komputer Inggris Peter J. Landin. (Istilah ini diambil dari offside dalam sepak bola.) Bahasa yang mengikuti off-side rule akan mendefinisikan blok dengan indentasi. Python adalah salah satu dari sekumpulan kecil bahasa off-side rule.

In [ ]:
x = 1
y = 2 

if x < y: 
 print("OK")
 
 print("OK JUGA")

print("DONE")

OK
OK JUGA
DONE

In [ ]:
x = 3
y = 2 

if x < y: 
    print("OK")
    
    print("OK JUGA")

print("DONE")

DONE

In [ ]:
x = 2
y = 2 

if x < y: 
    print("OK")
print("Next")

print("DONE")

Next
DONE

In [ ]:
if x < y: 
  print("OK")
  print("Next")

print("DONE")

DONE

In [ ]:
if 'baz' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

Expression was true
Executing statement in suite
...
Done.
After conditional

In [ ]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'fo' in ['foo', 'bar', 'baz']:        #  Yes
    print('Outer condition is true')      #  Yes

    if 10 > 20:                           #  YES 
        print('Inner condition 1')        #        tdk eksekusi   

    print('Between inner conditions')     #  YeS 

    if 10 < 20:                           #  YES
        print('Inner condition 2')        #  Yes     

    print('End of outer condition')       #  YES
print('After outer condition')            #  YES

After outer condition

In [ ]:
x , y = 9, 10   
if (x < y): 
    msg = "x lebih kecil dari y"

print(msg)

x lebih kecil dari y

In [ ]:
x , y = 10, 10  
msg1 = 'x lebih besar > dari y'
if (x < y): 
    msg1 = "x lebih kecil dari y"

print(msg1)

x lebih besar > dari y

**The else and elif Clauses**
Terkadang, kalian ingin mengevaluasi suatu kondisi dan mengambil satu jalur jika benar, tetapi menentukan jalur alternatif jika tidak benar. Ini dapat dilakukan dengan klausa else:

if :
    
else:

In [ ]:
x = 20
if x < 50:
    print('(first suite)')
    print('x is small')      
else:
    print('(second suite)')
    print('x is large')

print("done")

(first suite)
x is small
done

In [ ]:
x = 51

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

print("done")

(second suite)
x is large
done

In [ ]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 20000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [ ]:
hargaBuku = 20000
hargaMajalah = 50000
uang = 19000 + 1000

# msg = "uang tidak cukup"
if uang >= hargaMajalah:
    #print("beli majalah")
    msg = "beli majalah"
elif uang >= hargaBuku:
    #print("beli buku")   
    msg = "beli buku"
else:
    #print("uang tidak cukup")
    msg = "uang tidak cukup" 
    
print(msg)    
print("done")

beli buku
done

In [ ]:
name = 'Hacktiv88'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

I don't know who you are!

In [ ]:
bool(10 % 3) 
bool(0)
bool(5)

True

In [ ]:
var =True  

if 's' in 'bar':
    print('foo')
elif bool(10 % 2):
    print("This won't happen")
elif var:
    print("This won't either")

This won't either

**One-Line if Statements**

In [ ]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [ ]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [ ]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [ ]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [ ]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

Conditional Expressions (Python’s Ternary Operator)
Dalam bentuknya yang paling sederhana, sintaks dari conditional expression adalah sebagai berikut:

In [ ]:
print("Hello") if 'H' in "hello" else print("Hai")

Hai

In [ ]:
raining = False  # False 
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [ ]:
print("Let's go to the", 'beach')

In [ ]:
raining = True
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the library

In [ ]:
age = 10
vaksin = 'blm bisa vaksin' if age <= 5 else 'sudah bisa vaksin'

print(vaksin)

In [ ]:
print('yes') if ('baz' in ['foo', 'bar', 'baz']) else print('no')

In [ ]:
# lebih mudah mana ? bebas kalian yang pilih 
if ('baz' in ['foo', 'bar', 'baz']): 
    print("yes")
else:
    print("no")

yes

In [ ]:
Latihan Tugas Praktik
Membuat suatu program menentukan suatu nilai pada variable tersebut genap atau ganjil! 
Kita coba lakukan langkah sebagai berikut:

Buat variabel dengan nama “angka” isi dengan nilai 20
Ganti bagian ... dengan perhitungan untuk menentukan angka modulus 2 bernilai 0.
dilakukan pengecekan apakah benar dia bernilai genap maka mencetak "angka ini bilangan genap",
jika sudah ganti nilai variable angka dengan nilai yang lain untuk melakukan pengecekan apakah sdh benar code tersebut jika suatu nilai tersebut bilangan ganjil akan mencetak cek lagi apakah dia bernilai ganjil dan keluarkan "angka termasuk bilangan ganjil".
angka=10

if(.....):
    print("angka ini bilangan genap")
else:
    print("angka ini bilangan ganjil")

In [ ]:

bool(0)

False

In [ ]:
angka=20

if ((angka % 2)):
    print("angka ini bilangan ganjil")
else:
    print("angka ini bilangan genap")

angka ini bilangan genap

The Python pass Statement
Terkadang, kalian mungkin menemukan bahwa kalian ingin menulis apa yang disebut code stub: placeholder tempat kalian pada akhirnya akan meletakkan blok kode yang belum kalian terapkan.

In [ ]:
x = 10 
y = 11 
if  x<y:
    #Todo buat stament apa yang terjadi jika benar 
    pass  
print('foo')

In [ ]:
if True:
    #Todo nanti akan ditambahkan 
    pass
print('foo')

In [ ]:
for i in 'selfhelp':
        pass
print(i)

Python "while" Loops
Iteration artinya mengeksekusi blok kode yang sama berulang kali, berpotensi berkali-kali. Struktur pemrograman yang mengimplementasikan iterasi disebut loop.

In [ ]:
while <expr>:
    <statement(s)>

In [ ]:
x = 10 
y = 11 
while x < y: 
    print("Helo looping terus")

**The Python break and continue Statements**

In [ ]:
i=0
while(i<8):
    i+=1
    if(i==6): continue
    print(i)

1
2
3
4
5
7
8

In [ ]:
n = 5
while n > 0:                 # 5 > 0  : true        #  4 > 0 
    n -= 1  # 4 , 3          # 5 - 1 = 4            #  4 - 1 = 3 
    if n == 3:               # 4 == 3 : false       #. 3 == 3 : true 
        break # Break Statement   # escape          #    break 
    print(n)                 # print(n) = 4      
print('Loop ended.')

4
Loop ended.

In [ ]:
n = 10
while n > 0:                   # 5 > 0  : true      # 4 > 0              # 3 > 0                  # 2 >0 
    n -= 1                     # 5 - 1 = 4          # 4 -1 = 3           # 3 -1 = 2               # 2-1 = 1
    if n % 2 == 0:             # if 4 % 2 == 0 : True  # if 3 % 2 == 0 : # if 2 % 2 == 0 : true   # 1 % 2 == 0  : false  
        continue               #   continue                              #   continue            
    print(n)                                        # print(3)                                      # print(1)
print('Loop ended.')

9
7
5
3
1
Loop ended.

**The else Clause**
Python memungkinkan adanya klausa else opsional di akhir loop while. Ini adalah fitur unik Python, tidak ditemukan di sebagian besar bahasa pemrograman lainnya. Sintaksnya ditunjukkan di bawah ini:
while :
    
else:

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n) 
    x = n +1 
else:
    print('Loop done.')
    y = 0 

print(x)    
print(y)

4
3
2
1
0
Loop done.
1
0

In [ ]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.') 

# Loop diatas diakhiri sebelum waktunya dengan break, sehingga klausa e

4
3
2

**Infinite Loops**
Misalkan kalian menulis while loop yang secara teoritis tidak pernah berakhir. Kedengarannya aneh, bukan?

while True: print('foo')

**Nested while Loops**
Secara umum, struktur kontrol Python dapat di-nest satu sama lain. Misalnya, if / elif / else bisa di-nest:

In [ ]:
age = 65 
gender = 'F'

if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:    # age >= 18  = True  and  False 
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

In [ ]:
a = ['foo', 'bar']
len(a)

2

In [ ]:
a = ['foo', 'bar']
print("atas",len(a))
while len(a):
    print("didlm while ", len(a))
    print(a.pop(0))   # get list 
    print("setelah di pop ", len(a))
    print(10*"=====")

atas 2
didlm while  2
foo
setelah di pop  1
==================================================
didlm while  1
bar
setelah di pop  0
==================================================

In [ ]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

**One Line While Loops**

In [ ]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

**Numeric Range Loop**

In [ ]:
for i = 1 to 10
    <loop body>

**Three-Expression Loop**

In [ ]:
for (i = 1; i <= 10; i++)
   #<loop body>

**Collection-Based or Iterator-Based Loop**

In [ ]:
for i in <collection>
    <loop body>

**The Python for Loop**
Dari jenis loop yang tercantum di atas, Python hanya mengimplementasikan iterasi terakhir: collection-based.

In [ ]:
for <var> in <iterable>:
    <statement(s)>

In [ ]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

**Iterating Through a Dictionary**

In [ ]:
# dictonary 
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [ ]:
# get value menggunakan key 
for k in d:
    print(d[k])

1
2
3

In [ ]:
for k in d.values():
    print(k)

1
2
3

In [ ]:
for k, v in d.items(): 
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

**The range() Function**
Di bagian pertama sesi ini, kalian melihat jenis loop for yang disebut numeric range loop, di mana nilai 
numerik awal dan akhir ditentukan. Meskipun bentuk perulangan for ini tidak built in dalam Python, 
namun mudah diibuat.

In [ ]:
for n in (0, 1, 2, 3, 4):
    if n >=1: 
        print(n)

In [ ]:
x = range(5)
print(x)
for n in x:
    print(n)

**Altering for Loop Behavior**
diinterupsi dengan pernyataan break and continue dan dimodifikasi dengan klausa else , sama dengan sebelumnya 
while loop

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

**The else Clause**

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [ ]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [ ]:
# 
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
print(type(temp))
degree = int(temp[:-1])
print("degree:",degree)
i_convertion = temp[-1]
print("convertion:",i_convertion) 
result = 0 
if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 32C
<class 'str'>
degree: 32
convertion: C
Temperaturnya adalah 90 derajat

In [ ]:
while True:
    msg = input("Ketikan karakter: ")
    print(msg)
    if msg == "stop":
        break

KeyboardInterrupt: ignored

**Latihan Tugas Praktik**
User ingin membuat sebuah program yang dapat mengeluarkan angka 1 sampai 10. dan tampilan akan mencetak "Angka ganjil 1" untuk angka ganjil dan "Angka genap 2" untuk angka genap. (Menggunakan looping for)

Jawab:
Rani Rahel Markus_Tugas sesi2

In [ ]:
for i in range (1,11):
    if(i%2):
        print(i,"(Angka ganjil)")
    else:
         print(i,"(Angka genap)")

1 (Angka ganjil)
2 (Angka genap)
3 (Angka ganjil)
4 (Angka genap)
5 (Angka ganjil)
6 (Angka genap)
7 (Angka ganjil)
8 (Angka genap)
9 (Angka ganjil)
10 (Angka genap)

In [ ]:
n = 20
for i in range(n):
  while i < n:
    i += 1
    print(i, 'ganjil')
    if i % 2 == 0:
        continue
  else:
    print(i, 'genap') 

# Loop diatas diakhiri sebelum waktunya dengan break, sehingga klausa e

In [12]:
print('Masukkan nilai awal dan nilai akhir')

nilai_awal = int(input(' nilai awal: '))
nilai_akhir = int(input(' nilai akhir: '))

print("""\nTampilkan bilangan
 1. Ganjil
 2. Genap""")

pilihan = int(input('Pilihan: '))

# periksa kalau pilihan bukan 1 dan 2
if pilihan not in [1, 2]:
  print('Pilihan salah')
else:
  for x in range(nilai_awal, nilai_akhir + 1):
    if pilihan == 1 and x % 2 == 1:
      print(x, end=' ')
    elif pilihan == 2 and x % 2 == 0:
      print(x, end=' ')
  else:
    # ganti baris ketika perulangan selesai
    print('')

Masukkan nilai awal dan nilai akhir
 nilai awal: 1
 nilai akhir: 10

Tampilkan bilangan
 1. Ganjil
 2. Genap
Pilihan: 1
1 3 5 7 9

In [26]:
x = int(input('masukkan angka bulat'))
if (x % 2 == 0):
  print(x,'adalah bilangan genap');
else:
  print(x,'adalah bilangan ganjil')

masukkan angka bulat10
10 adalah bilangan genap

In [29]:
#Dict
angka = {'ganjil': [1,3,5,7,9] , 'genap':[2,4,6,8,10]}
print(angka['genap'])
print(angka['ganjil'])

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

**Switch**

In [ ]:
def SwitchExample(argument):
    switcher = {
        0: " This is Case Zero ",
        1: " This is Case One ",
        2: " This is Case Two ",
    }
    return switcher.get(argument, "nothing")

In [ ]:
SwitchExample(1)

' This is Case One '

In [ ]:
hasil = SwitchExample(2)
print(hasil)

 This is Case Two

In [ ]:
SwitchExample(3)

'nothing'

In [ ]:
for i in range(1,6):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
i=6
while(i>0):
    j=6
    while(j>i):
        print("*",end=' ')
        j-=1
    i-=1
    print()

*
* *
* * *
* * * *
* * * * *